<div class="jumbotron">
  <div ng-show="!joining && !creating">
    <h1>Decidr</h1>
    <p class="lead">
      Make some decisions
    </p>
    <p><button class="btn btn-primary" ng-click="changeView('create')">Create Room</button></p>
    <p><button class="btn btn-primary" ng-click="changeView('join')">Join Room</button></p>
  </div>
  <div class="joinRoom" ng-show="joining">
    <h1>Join Room</h1>
    <p class="lead">
      Enter Name
    </p>
    <input type="text">
    <p class="lead">
      Enter Room ID
    </p>
    <input type="text">
    </br>
    <button class="btn btn-primary" ng-click="changeView('home')">Back</button>
  </div>
  <div class="createRoom" ng-show="creating">
    <h1>Create Room</h1>
    <p class="lead">
      Enter Your Name
    </p>
    <input type="text">
    <p class="lead">
      Enter Room Name
    </p>
    <input type="text">
    <button class="btn btn-primary" ng-click="changeView('home')">Back</button>
  </div>
</div>

<div class="row marketing">
</div>