<div class="jumbotron">
  <div ng-show="!joining && !creating && !view">
    <h1>Decidr</h1>
    <p class="lead">
      Make some decisions
    </p>
    <p><button class="btn btn-primary" ng-click="changeView('create')">Create Room</button></p>
    <p><button class="btn btn-primary" ng-click="changeView('join')">Join Room</button></p>
  </div>

  <!-- Join Room View -->

  <div class="joinRoom" ng-show="joining">
    <h1>Join Room</h1>
    <div class="alert alert-danger" role="alert" ng-show="idError">
      Room does not exist!
    </div>
    <div class="input-group mb-3 cenput">
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"
        ng-model="name">
    </div>
    <div class="input-group mb-3 cenput">
      <input type="text" class="form-control" placeholder="Room ID" aria-label="Room ID" aria-describedby="basic-addon1"
        ng-model="rid">
    </div>
    </br>
    <div class="cenput">
      <button class="btn btn-primary" style="padding:5px;" ng-click="joinRoom()">Join</button>
    </div>
    <div class="cenput">
      <button class="btn btn-primary" style="padding:5px;" ng-click="changeView('home')">Back</button>
    </div>
  </div>

  <!-- Join Room View End -->

  <!-- Create Room View -->

  <div class="createRoom" ng-show="creating">
    <h1>Create Room</h1>
    <div class="input-group mb-3 cenput">
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"
        ng-model="name">
    </div>
    <div class="input-group mb-3 cenput">
      <input type="text" class="form-control" placeholder="Room Name" aria-label="Room Name" aria-describedby="basic-addon1"
        ng-model="roomName">
    </div>
    </br>
    <div class="cenput">
      <button class="btn btn-primary" style="padding:5px;" ng-click="createRoom()">Create</button>
    </div>
    <div class="cenput">
      <button class="btn btn-primary" style="padding:5px;" ng-click="changeView('home')">Back</button>
    </div>
  </div>

  <!-- Create Room View End -->

  <!-- Room View -->

  <div class="viewRoom" ng-show="view">
    <h1>{{roomName}}</h1>
    <h3 ng-show="createdRoom">Tell friends room ID is {{roomID}}</h3>
    <button class="btn btn-primary" style="min-width: 50px; padding: 5px;" data-toggle="collapse" data-target="#addChoice">+</button>
    <div id="addChoice" class="collapse">
      <div class="input-group mb-3 cenput">
        <input type="text" class="form-control" placeholder="Choice" aria-label="Choice" aria-describedby="basic-addon1"
          ng-model="choice">
        <button class="btn btn-primary" style="padding: 0px;" ng-click="addChoice()">Click to Add</button>
      </div>
    </div>
    <div ng-repeat="x in choices" style="width: 100%; margin: 0 auto;">
      <label class="switch-light switch-candy" style="width: 100px; margin: 0 auto;" onclick="">
        {{x[1]}}
        <input type="checkbox">
        <span>
          <span>No</span>
          <span>Yes</span>
          <a></a>
        </span>
      </label>
    </div>
    <button class="btn btn-primary" ng-click="submitRes('home')" style="padding:5px;">Submit</button>
    <button class="btn btn-primary" ng-click="changeView('home')" style="padding:5px;">Back</button>
  </div>

  <!-- Room View End -->

</div>
<div class="row marketing">
</div>